APP_NAME=Hihome.app
APP_ENV=local
APP_KEY=base64:9ezS9jbo+l6wkhVhbOXM0RtAT61Iu46IEE066TW+vBk=
APP_DEBUG=false
APP_URL=http://hihome.app/public

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=dbjemvuc5rj558
DB_USERNAME=u55uvd4fvny2e
DB_PASSWORD=5ryjyz983naq

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYPAL_CLIENT_ID=
PAYPAL_SECRET=

ADMIN_PREFIX=backend

FILESYSTEM_DRIVER=public

MAIL_DRIVER = smtp
MAIL_HOST = smtp.mailgun.org
MAIL_PORT = 587
MAIL_USERNAME = postmaster@mg.hihoome.com	
MAIL_PASSWORD = 258ac4e919b7ae0b4c6ef6204b0d7d5b-7cd1ac2b-dd9228bd
MAIL_ENCRYPTION = tls
MAIL_FROM_ADDRESS=info@hihoome.com
MAIL_FROM_NAME=hihoome.com

LOG_SLACK_WEBHOOK_URL=

ONESIGNAL_APP_ID=0a57ec1d-ac48-479c-9c0b-a63f2dae5d51
ONESIGNAL_REST_API_KEY=YTJlZGYzNGItZDY5OC00OGQzLWIzZTQtNjA5ODFkMjhjNmZm
ONESIGNAL_USER_AUTH_KEY=

CUSTOMER_ONESIGNAL_APP_ID=0a57ec1d-ac48-479c-9c0b-a63f2dae5d51
CUSTOMER_ONESIGNAL_REST_API_KEY=YTJlZGYzNGItZDY5OC00OGQzLWIzZTQtNjA5ODFkMjhjNmZm
CUSTOMER_ONESIGNAL_USER_AUTH_KEY=

SELLER_ONESIGNAL_APP_ID=35f7105d-d2a5-4b44-8f1f-28ea14dfd065
SELLER_ONESIGNAL_REST_API_KEY=MzhmZTY0MjAtYjMxNC00MWE0LTkzZTgtMmY3YmQ1YmU0YTZi
SELLER_ONESIGNAL_USER_AUTH_KEY=